@import url("./component/alert/alert.css");
@import url("./component/avatar/avatar.css");
@import url("./component/badges/badges.css");
@import url("./component/button/button.css");
@import url("./component/card/card.css");
@import url("./component/input/input.css");
@import url("./component/list/list.css");
@import url("./component/responsive-image/responsive-image.css");
@import url("./component/toster/toast.css");
@import url("./component/other/other.css");
@import url("./component/grid/responsive-grid.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("./component/modal/modal.css");
:root {
  --bg-color: #0a1929;
  --font-color: rgb(178, 186, 194);
  --primary-font-color: #374151;
  --lightgrey2: #9ca3af;
  --white: #fff;
  --black: #000000;
  --text: #fff;
  --primary: #4285f4;
  --primary-dark: #0d47a1;
  --danger: #ff4444;
  --danger-dark: #cc0000;
  --warning: #ffbb33;
  --warning-dark: #ff8800;
  --success: #00c851;
  --success-dark: #007e33;
  --info: #33b5e5;
  --info-dark: #0099cc;
  --dark: #262626;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  --card-box-shadow: 2px 2px 4px #9a9a9a;
  --btn-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;
}
/* commom class style for some html element */
.sm {
  width: 3rem;
  height: 3rem;
}
.md {
  width: 4rem;
  height: 4rem;
}
.lg {
  width: 5rem;
  height: 5rem;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.heading {
  color: var(--primary-font-color);
}
.description {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 1.2rem;
}
.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.pointer {
  cursor: pointer;
}

/* every page */
.page {
  margin-top: 5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--bg-color);
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.75rem;
}

.nav_list {
  margin-right: 1rem;
}
.nav_list a {
  padding: 1rem;
}

.nav_list a:hover {
  color: var(--lightgrey2);
}
.menulines {
  margin-right: 20px;
  font-size: 1.5rem;
}
.sidenav {
  margin-top: 4rem;
  width: 200px;
  height: 80vh;
  position: fixed;
  top: 2rem;
  left: 0;
  z-index: 99999;
  overflow-y: scroll;
  padding-top: 30px;
  background-color: var(--bg-color);
  margin-bottom: 1rem;
  transition: all 0.5s;
}
.sidenav::-webkit-scrollbar {
  width: 10px;
}

.sidenav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(158, 149, 149, 0.3);
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(133, 125, 125, 0.5);
}
.sidenav a {
  color: var(--white);
  font-size: 1.2rem;
  display: block;
  /* padding: 20px 0 20px 20px; */
  padding: 10px 10px;
  margin-left: 10px;
}
.sidenav a:hover {
  color: var(--lightgrey2);
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem !important;
}

/* home page */
.main_container {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.about {
  padding: 1rem;
  display: flex;
  width: 50%;

  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.about h1 {
  color: var(--bg-color);
  font-size: 2.5rem;
}
.page-active {
  text-decoration: underline;
  font-weight: bold;
}
.about p {
  text-align: justify;
  color: var(--bg-color);
  font-size: 1.4rem;
  line-height: 2rem;
}
.home-img {
  width: 50%;
}
.home-img img {
  max-width: 100%;
}
.btn {
  padding: 0.6rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}
.btn-primary {
  background-color: var(--white);
  color: var(--bg-color);
}
.btn-secondary {
  margin-left: 1.2rem;
  background-color: var(--bg-color);
  color: var(--white);
}
.code-container {
  max-width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.link-container {
  padding: 1rem;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  color: var(--white);
  font-size: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer li {
  padding: 0.5rem;
}
.footer-social ul {
  display: flex;
}
.footer-social {
  font-size: 1.5rem;
}
@media only screen and (max-width: 750px) {
  .about {
    margin-top: 5rem;
    width: 90%;
    height: 100%;
    margin-bottom: 2rem;
  }
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 424px) {
  .nav {
    font-size: 1rem;
    justify-content: space-around;
  }
  .nav_list {
    margin-right: 0;
  }
}

@media only screen and (max-width: 568px) {
  .page {
    width: 98%;
    padding: 2px;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav {
    width: 0;
  }
  .main_container {
    flex-direction: column;
    height: 100%;
    margin-top: 0rem;
  }
  .home-img {
    width: 80%;
  }
}
