.form-group {
  margin: 0.5rem 0.5rem;
}
label {
  display: block;
  font-weight: 400;
}
.form-group input {
  padding: 0.25rem 0.25rem;
  border: 1px solid lightgray;
  font-size: 1rem;
}
.form-group input:focus {
  border: 1px solid var(--dark);
}
.form-error {
  display: block;
  color: var(--danger);
}
