<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <nav class="flex_space nav">
      <div>
        <h2><a href="../../index.html">Home</a></h2>
      </div>
      <div>
        <span class="menulines pointer" onclick="openNav()">&#9776;</span>
      </div>

      <div class="sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          &times;
        </a>

        <a class="page-active" href="../avatar/avatar.html">Avatar</a>
        <a href="../alert/alert.html">Alert</a>
        <a href="../badges/badges.html">Badges</a>
        <a href="../button/button.html">Button</a>
        <a href="../card/card.html">Card</a>
        <a href="../responsive-image/responsive-image.html">Responsive-Image</a>
        <a href="../input/input.html">Input</a>
        <a href="../list/list.html">List</a>
        <a href="../toster/toast.html">Toast</a>
        <a href="../grid/responsive-grid.html">Grid</a>
        <a href="../other/other.html">Other Utilities</a>
        <a href="../navigation/navigation.html">Navigation</a>
        <a href="../modal/modal.html">Modal</a>
      </div>
    </nav>
    <main>
      <div class="page">
        <h1 class="heading">Avatar</h1>
        <p class="description">
          Copy the styles of different avatars and use it in your code
        </p>
        <p class="description">
          Avatar are usually used in Show the User Profile Picture. Avatar
          Create Using a avatar-img class name inside the img tag. It has a
          different size sm || md || lg.
        </p>
        <div>
          <div class="flex_center">
            <div class="avatar-container">
              <img
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
                class="avatar-img sm"
              />
              <img
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
                class="avatar-img md"
              />
              <img
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
                class="avatar-img lg"
              />
            </div>
          </div>
          <div class="code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=442&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520%2520src%253D%2522link%2522%2520alt%253D%2522%2522%2520%2520class%253D%2522avatar-img%2520sm%2522%252F%253E%250A%2520%2520%2520%250A%2520%253Cimg%2520src%253D%2522link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar-img%2520md%2522%252F%253E%250A%2520%2520%2520%250A%2520%253Cimg%2520src%253D%2522%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar-img%2520lg%2522%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
              style="
                width: 100%;
                height: 226px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
    </main>
    <script src="../../script.js"></script>
  </body>
</html>
