.grid {
  display: grid;
}
.grid > div {
  padding: 1rem;
  border: 1px solid lightgray;
  margin-top: 0.5rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
