.modal-container {
  width: 25rem;
  padding: 1rem;
  border: 2px solid #0a1929;
}
.modal {
  display: flex;
  align-items: center;
}
.modal-close {
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
}
.modal-btns button {
  margin: 0 1rem;
}
